<h4> Case Note Update: <%= @casenote.client.name %></h4>

<%= form_tag("/clients/#{@casenote.client.id}/casenotes", method: "patch") do %>
  <div>
    <%= hidden_field_tag(:casenote_id, @casenote.id) %>
  </div>
  <div>
    <%= hidden_field_tag(:name, @casenote.client.name) %>
  </div>
  <div>
    <h6>CNID: <%= @casenote.id %></h6>
  </div>
  <div>
    <h6><%= label_tag(:date) %></h6>
    <%= text_field_tag(:date, @casenote.date) %>
  </div>
  <div>
    <h6><%= label_tag(:note) %></h6>
    <%= text_field_tag(:note, @casenote.note) %>
  </div>
  <div>
    <h6><%= submit_tag("Update New Casenote") %></h6>
  </div>
<% end %>

<div>
<%= link_to "#{@casenote.client.name}", "/clients/#{@casenote.client.id}", class: "btn btn-success" %>
</div>
<div>
  <%= link_to "Case Note Index: #{@casenote.client.name}", "/clients/#{@casenote.client.id}/casenotes", class: "btn btn-success" %>
</div>
<div>
<%= link_to "Back to All Clients", "/clients", class: "btn btn-success" %>
</div>
