
<h1>Case Notes: <%= @client.name %></h1>

<h3> Date of Last Visit: <%= @client.case_notes.last.date %></h3>

<div class="row product-index">
  <% @client.case_notes.each do |case_note| %>
    <a href="/clients/casenotes/<%= case_note.id %>">
    <div>
    <h3>Date: <%= case_note.date %></h3>
    </div>
    </a>
  <% end %>
</div>



<div>
<%= link_to "New Case Note", "/clients/#{@client.id}/casenotes/new", class: "btn btn-success" %>
</div>
<%= link_to "#{@client.name}'s Profile", "/clients/#{@client.id}", class: "btn btn-success" %>
<div>
<%= link_to "Back to All Clients", "/clients", class: "btn btn-success" %>
</div>
