
<h3>Case Notes: <%= @client.name %></h3>

<h5> Date of Last Visit: <%= @client.case_notes.last.date %></h5>

      <% @client.case_notes.each do |case_note| %>
      <div class="row casenote-index">
        <div class="col-md-12 well">
        <a href="/clients/casenotes/<%= case_note.id %>">
        <div>
          View Case Note
        </div>
        </a>
        <h5 align="center">Date: <%= case_note.date %></h5>
        <h5>Case Summary: <%= case_note.note %></h5>
      </div>
    </div>
      <% end %>

<h4> New Casenote </h4>
  <%= form_tag("/clients/#{@client.id}/casenotes", method: "post") do %>
    <div>
      <%= hidden_field_tag(:client_id, @client.id) %>
    </div>
    <div>
      <%= hidden_field_tag(:name, @client.name) %>
    </div>
    <div>
      <%= text_field_tag(:date, nil, placeholder: "Date") %>
    </div><br/>
    <div>
      <%= text_field_tag(:note, nil, placeholder: "Add Note") %>
    </div>
    <div>
      <h6><%= submit_tag("Create New Casenote") %></h6>
    </div>
<% end %>

<%= link_to "#{@client.name}'s Profile", "/clients/#{@client.id}", class: "btn btn-success" %>
<div>
<%= link_to "Back to All Clients", "/clients", class: "btn btn-success" %>
</div>
