
<h2>Welcome <%= @user.first_name %></h2><br/>


<h3>News Feed</h3>
<% @activities.each do |activity| %>
  <% if activity.recordable_type == "Post" %>
    <h5><%= activity.user.first_name %>: <%= activity.display_text %> </h5>
  <% elsif activity.recordable_type == "CheckList" %>
    <h5><%= activity.user.first_name %> <%= activity.event %> a goal for <% if activity.recordable.client.user.first_name == current_user.first_name%><a href="/clients/<%= activity.recordable.client.id%>"><%= activity.recordable.client.name %></a><% else %> <%= activity.recordable.client.name %> <% end%> at <%= activity.updated_at %></h5>
    <h5>Goal: <%= activity.display_text %></h5>
  <% else %>
    <h5><%= activity.user.first_name %> <%= activity.event %> <%= activity.display_text %> <%= activity.recordable_type %> at <%= activity.updated_at %></h5>
  <% end %>
  <% activity.comments.each do |comment| %>
    <h6><%= comment.user.first_name %>: <%= comment.text %><h6>
  <% end %>
  <div>
    <h6>
      <%= form_tag("/users/#{@user.id}/comments", method: "post") do %>
        <%= text_field_tag(:text, nil, :placeholder => "Leave Comment") %><%= submit_tag("Comment") %>
        <%= hidden_field_tag(:activity_id, activity.id) %>
      <% end %>
    </h6>
  </div>
<% end %>



<h3> My Team </h3>
  <% if @user.role.position == "Director" %>
    <% @user.supervisors.each do |supervisor| %>
      <a href="/users/<%= @user.id %>">
          <li><%= supervisor.first_name %> <%= supervisor.last_name %> (<%= supervisor.role.position %>)</li>
      </a>
    <% end %>
  <% end %>

  <% unless @user.role.position == "Director" %>
    <li><h4><%= @user.director.first_name %> (<%= @user.director.role.position %>)</h4></li>
    <% unless @user.role.position == "Case Supervisor" %>
      <li><h4><%= @user.supervisor.first_name %></h4> <h5><%= @user.supervisor.role.position %></h5></li>
    <% end %>
    <% if @user.role.position == "Case Manager" %>
      <% @user.supervisor.managers.each do |manager| %>
        <li><h4><%= manager.first_name %> <%= manager.last_name %></h4> <h5> <%= manager.role.position %></h5></li>
        <% end %>
    <% end %>
  <% end %>
  <br/>

<h4>My Checklist</h4>
  <% @user.check_lists.each do |check_list| %>
    <h5><li><%= check_list.goal %></li></h5>
  <% end %>
