<h1>Clients</h1>
  <div class="col-md-4 well">
<%@clients.each do |client| %>
<a href="/clients/<%= client.id %>">
<ul>
  <h2><%= client.id %>. <%= client.name %></h2>
  <li><%= client.address %></li>
  <li><%= client.phone %></li>
  <li><%= client.birthdate %></li>
</ul>
<% end %>
<div>
