<%= form_tag("/clients/#{@client.id}/checklists", method: "post") do %>
    <%= text_field_tag(:goal, nil, placeholder: "Add New Goal") %>

    <%= hidden_field_tag(:client_id, @client.id)%>

    <%= hidden_field_tag(:status) %>

  <div>
    <h6><%= submit_tag("Add Goal") %></h6>
  </div><br/>
<% end %>
